.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 15px;
    justify-content: center;
    width: 100%;
    height: 75%;
    padding-top: 20px;
}

.dialog-button {
    float: right;
    z-index: 1;
}

.dialog-button:hover {
    background-color: rgba(26, 43, 66, 0.9);
}

.card:hover {
    cursor: pointer;
    transform: rotateX(10deg) rotateY(10deg);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}

.card {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform-style: preserve-3d;
}

.container-box {
    padding: 10px;
    display: flex;
}

.image-dialog {
    width: 40%;
}

.content-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.title-dialog {
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    justify-content: space-between;
}

.workshop-badge {
    align-self: end;
}

@media screen and (max-width: 1080px) {
    .container-box {
        width: 100%;
        height: 45%;
        gap: 25px;
        flex-direction: column;
        align-content: space-between;
    }
    .image-dialog {
        width: auto;
        height: 30%;
        align-self: center;
    }
    .content-box {
        width: 70%;
        height: 70%;
        align-self: center;
    }
}

@media screen and (max-width: 815px) {
    .content-box {
        width: 90%;
        gap: 15px;
    }
    .title-dialog {
        flex-direction: column;
        gap: 10px;
    }
}
